<ng-container *ngIf="showLogin">
  <section class="rokyo-login-container">
    <div class="rokyo-login-user">
      <div class="text-align-center">
        <img class="rokyo-admin-logo" src="./assets/images/logo.png" />
        <h1 class="rokyo-margin-padding-nil color-white change-font margin-bottom-0">Twitch</h1>
      </div>
      <div class="twitch-login-container">
        <form class="twitch-form-container">
          <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="100%" class="two_one">
              <div fxLayout.xl="column" fxLayout.lg="column" fxLayout.md="column" fxLayout.sm="column"
                fxLayout.xs="column">
                <div class="rokyo-margin-5" fxFlex.xl="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%"
                  fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="space-between">
                  <h1 class="twitch-login-text margin-bottom-0">
                    <u>
                      <b>
                        Login
                      </b>
                    </u>
                  </h1>
                  <mat-form-field>
                    <mat-label>Username/email/phone</mat-label>
                    <input matInput placeholder="username">
                  </mat-form-field>
                  <!-- <mat-form-field class="form-field-container form-group">
                      <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="user.email" matInput placeholder="Email" type="email"/>
                      <div *ngIf="login && s.emailOn.errors" class="invalid-feedback">
                        <div *ngIf="s.emailOn.errors.required">Email is required</div>
                        <div *ngIf="s.emailOn.errors.emailOn">Email must be a valid email address</div>
                      </div>
                      </mat-form-field> -->
                </div>
                <div class="rokyo-margin-5" fxFlex.xl="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%"
                  fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="space-between">
                  <mat-form-field class="form-field-container form-group">
                    <input [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="user.password" type="password"
                      matInput placeholder="Password">
                    <!-- <div *ngIf="login && s.passwordLogin.errors" class="invalid-feedback">
                        <div *ngIf="s.passwordLogin.errors.required">Password is required</div>
                        <div *ngIf="s.passwordLogin.errors.minlength">Password must be at least 8 characters</div>
                        </div> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="width-100">
            <button color="warn" (click)="onLogin()" type="submit" mat-raised-button class="login-btn width-100">LOG
              IN</button>
          </div>
          <button mat-button class="rokyo-forgot-password">
            Forgot Password?
          </button>
          <button mat-button class="rokyo-forgot-password" [routerLink]="['/registration']">
            Signup?
          </button>
        </form>
      </div>
    </div>
  </section>
</ng-container>