/* .login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
h2{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #08ffd1;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  


}  
span{  
color: white;  
font-size: 17px;  
}  
a{  
float: right;  
background-color: grey;  
}   */


.rokyo-admin-logo{
    max-width: 150px;
}

.rokyo-admin-logo{
    border-radius: 50%;
}

.color-white{
    color:#fff;
}

.change-font {
    font-family: fantasy !important;
    font-size: 50px;
}

.twitch-login-container{
    padding-left: 15px;
    padding-right: 15px;
}

.twitch-form-container{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5%;
    padding-top: 0 !important;
    border-radius: 5px;
}

.twitch-login-text{
    text-align: center;
    font-family: fantasy;
}